*{	
	padding: 0;
	margin: 0;
}
body {
	font-size: 18px;
	font-family: sans-serif;
	background-color: #E6E6FA;
	color: #4B0082;
}

p {
	padding: 20px;	
	margin-left:440px;	
}

#titulo {
	width: 80%;
	padding-left: 555px;
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 5px solid #4B0082; 
}

#subtitulo {
	margin-top: 40px;
	margin-left: 80px;
}

#imglista {
	float: left;

	width: 350px;
	height: 460px;
	margin-left: 15px;
	margin-right: 20px;
	padding: 30px;
}

#trailer {
	float: right;
	padding: 20px;
	margin-top: 25px;
	margin-right: 400px;
}

#texto_atores_posiçao {
	float: left;
}

#elenco_texto {
	padding-left: 60px;
	padding-top: 5px;
	padding-bottom: 60px;
}

#lista {
	padding: 20px;
}

#index_detalhe {
	margin-left: 480px;
}

.titulo2 {
	text-decoration: underline	;
	margin-left: 500px;
}

.importante {
	color: orange;
}

.foto_posiçao {
	float: left;
	text-align: center;
	max-width: 185px;
	width: auto;
}

.foto_ajuste {
	max-width: 200px;
	width: auto;
	padding-bottom: 56px;
}

.texto_detalhe {
	padding-top: 10px;
}

.nome_atores {
	float: left;
	text-decoration: underline;
	margin-left: 40px;
	margin-bottom: 25px;
}

.historia_personagem {
	padding: 5px;
	padding-top: 70px;
	padding-left: 245px;
	margin-bottom: 115px;
}